/CPOS/CPOS.BS.Web/bin
/CPOS/CPOS.BS.Web/obj
/CPOS/CPOS.CommTools/obj
/CPOS/CPOS.CommTools/bin
/CPOS/CPOS.DataAccess/bin/Debug
/CPOS/CPOS.DTO/obj/Debug
/CPOS/packages/Microsoft.ApplicationInsights.2.1.0/lib/net40/*.dll
/CPOS/CPOS.DataAccess/obj/Debug
/CPOS/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/lib/net40/*.dll
/CPOS/CPOS.Model/obj/Debug
/CPOS/MainTest/bin/Debug
/CPOS/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
/CPOS/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/*.nupkg
/CPOS/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
/CPOS/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
/CPOS/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/*.XML
/CPOS/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.uninstall.xdt
/CPOS/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
/CPOS/packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net45/Microsoft.AI.DependencyCollector.XML
/CPOS/packages/Microsoft.ApplicationInsights.2.1.0/lib/net40/Microsoft.ApplicationInsights.XML
/CPOS/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45
/CPOS/packages/EntityFramework.6.1.3/content
/CPOS/packages/Microsoft.ApplicationInsights.2.1.0/lib/net46
/CPOS/MainTest/obj/Debug
/CPOS/packages/EntityFramework.6.1.3/lib/net40
/CPOS/packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net45
/CPOS/packages/Microsoft.Net.Compilers.1.0.0/tools
content
/CPOS/packages/Newtonsoft.Json.6.0.4/lib/net35
/CPOS/packages/Newtonsoft.Json.6.0.4/lib/net20/*.xml
/CPOS/packages/Newtonsoft.Json.6.0.4/lib/net40
